<header>
  <h1>Challenge Blog!</h1>
  <ul class="actions">
    <li>
      <%= link_to "New Article", new_article_path, class: "new" %>
    </li>
  </ul>
</header>

<div id="articles">
  <% @articles.each do |article| %>
    <p>
      <h2><%= link_to article.name, article %></h2>
      <span>
        <th>Posted:</th>
        <td><%= time_ago_in_words(article.created_at) %> ago</td>
      </span>
      <p>
        <%= markdown(first_200_characters(article.content)) %>
      </p>
      <p><%= link_to "...Read the rest here", article %></p>
    </p>
  <% end %>
</div>