<header>
  <h2>Blog Posts:</h2>
  <ul class="actions">
  <% admins_only do %>
    <li>
    <%= link_to "New Article", new_admin_article_path, class: "new" %>
    </li>
  <% end %>
  <% users_only do %>
    <% if not_admin %>
      <% if subscribed? %>
        <li>
          <%= link_to "Unsubscribe", u_users_index_path, class: "edit" %>
        </li>
      <% else %>
        <li>
          <%= link_to "Subscribe", u_users_index_path, class: "edit" %>
        </li>
      <% end %>
    <% end %>
  <% end %>
  </ul>
</header>

<div id="articles">
  <% @articles.each do |article| %>
    <p>
      <h2><%= link_to article.name, article %></h2>
      <span>
        <th>Posted:</th>
        <td><%= time_ago_in_words(article.created_at) %> ago</td>
      </span>
      <%= markdown(first_200_characters(article.content)) %>
      <%= link_to "...Read the rest here", article, class: "show" %>
    </p>
  <% end %>
</div>