<h1>New Article</h1>

<p>
	<%= form_for(@article) do |f| %>
		<p>
			<%= f.label :name %><br>
			<%= f.text_field :name %>
		</p>
		<p>
			<%= f.label :content %><br>
			<%= f.text_field :content %>
		</p>

		<%= f.submit %>
	<% end %>
</p>

<%= link_to "Back", articles_path %>